.layout {
    margin: 72px 0 0;
}

.logo {
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
}

.logo img {
    width: auto;
    height: 100%;
}
